* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.botones {
  justify-content: space-between;
  margin: 0% auto;
  list-style: none;
  display: flex;
  color: rgb(87, 243, 30);
  text-align: center;
  padding: 14px 16px;
  text-decoration: overline;
  background: black;
  font-family: cursive;
  font-size: 20px;
  font-weight: lighter;
  list-style-type: none;
  overflow: hidden;
}

.registrarse {
  color: black;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-items: center;
  margin: 1% auto;
  font-size: 10px;
}
.portada-1 {
  margin: 1% auto;

  width: 500px;
  height: 200px;
}
.portada-2 {
  display: flex;
  margin: 1% auto;
  align-items: center;
  width: 500px;
  height: 200px;
}
.portada-3 {
  margin: 1% auto;
  max-width: 900px;
  width: 500px;
  height: 200px;
}
.busca {
  list-style: none;
  color: blueviolet;
  display: flex;
}
.buca {
  justify-content: space-between;
  color: brown;
  max-width: 900px;
  margin: 1% auto;
}
