* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.botones {
  justify-content: space-between;
  margin: 0% auto;
  list-style: none;
  display: flex;
  color: rgb(87, 243, 30);
  text-align: center;
  padding: 14px 16px;
  text-decoration: overline;
  background: black;
  font-family: cursive;
  font-size: 20px;
  font-weight: lighter;
  list-style-type: none;
  overflow: hidden;
}

.registrarse {
  display: flex;
  max-width: 200px;
  color: rgb(49, 227, 85);
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  align-items: self-end;
  margin: 1% auto;
  justify-content: space-between;
  text-decoration: overline;
  box-sizing: content-box;
  border-radius: 3px;
  font-size: 14px;
  color: aqua;
}
.portada-1 {
  display: grid;
  margin: 1% auto;
  max-width: 500;
  width: 500px;
  height: 200px;
}
.portada-2 {
  display: inline-table;
  margin: 1% auto;
  align-items: center;
  width: 500px;
  height: 200px;
}
.portada-3 {
  display: block;
  margin: 2% auto;
  width: 500px;
  height: 200px;
}
.busca {
  float: right;
  list-style: none;
  color: blueviolet;
  margin: -1% auto;
  width: 300px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: content-box;
  font-size: 14px;
}
.butbus {
  padding: 10px;
  font-size: 14px;
}
.buca {
  justify-content: space-between;
  color: brown;
  max-width: 900px;
  margin: 1% auto;
}
